* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* font-size: 1.125rem; */
}

:root {
    --bg-color: white;
    --button-bg-color: #74d5ff;
    --highlight-color: var(--button-bg-color);
    --border-color: #575757;
}

body,
h1 {
    margin: 0;
}

html,
select,
input{
    background-color: black;
    color: white;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section {
    padding: 0 1rem;
}

.link { 
    color: var(--highlight-color);
    font-size: 24pt;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.last-margin {
    margin-right: 0;
}

select,
button,
input,
input::file-selector-button{
    font-size: 1rem;
}

input[type=number] {
    border: solid 1px white;
}

button,
input::file-selector-button{
    background-color: var(--button-bg-color);
    border: none;
    cursor: pointer;
    padding: 0.375rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

.text-art{
    font-size: 1rem;
    font-family: monospace;
    white-space: pre-wrap;
    border: solid 2px white;
}

.center {
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 0;
    max-width: 75rem;
}

.line-option {
   margin-bottom: 0.5rem; 
}
