* {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1.125rem; */
}

:root {
    --bg-color: white;
    --button-bg-color: #74d5ff;
    --highlight-color: var(--button-bg-color);
    --border-color: #575757;
}

body,
h1 {
    margin: 0;
}

html,
select,
input{
    background-color: black;
    color: white;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
}

.link { 
    color: var(--highlight-color);
    font-size: 24pt;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.first-margin {
    margin-left: 0;
}

.last-margin {
    margin-right: 0;
}

input::file-selector-button{
    background-color: var(--button-bg-color);
    border: none;
    cursor: pointer;
    padding: 0.25rem;
}

#image {
    margin-bottom: 10px;
}

button{
    color: red;
    text-decoration: none;
    background-color: #ffe370;
}

.text-art{
    font-size: 1em;
    font-family: monospace;
    white-space: pre-wrap;
    border: solid 2px white;
}

.center {
    margin: 0 auto;
    padding: 1em;
    max-width: 75rem;
};
